*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 0 5%;
    background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(255,255,255,0)), url(images/rio.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.content h1 span{
    background: linear-gradient(90deg, #009739, #FEDD00, #009739);
    background-size: 400%;
    letter-spacing: 2px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.launch-time{
    display: flex;
    margin-top: 10px;
    margin-right: 15px;
    background: radial-gradient(rgba(0,0,0,.1),transparent);
}
.launch-time div{
    flex-basis: 100px;
    text-align: center;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -10px;
}
.launch-time div span{
   text-align: center;
}